<section class=" my-4 mx-5">
    <div class="container">
            <div class="logout">
                <h2 class="mb-3">Hey! <%= user.name %> </h2>
                <p>Welcome to the best Articles site in the world!</p>
            </div>
            <div><a href="/users/logout"><button type="submit" class="login-btn">Log out</button></a></div>
    </div>
</section>