<section class=" my-4 mx-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5 ">
        <h1 class="mb-5">Enjoy reading articles..</h1>
        <p>You can create your own articles and share them with your friends!
          Before you need to register for this...</p>
      </div>
      <div class="col-lg-7 px-5 pt-5 welcome">
        <a href="/users/register" ><button type="submit" class="login-btn mb-3">Register</button></a>
        <a href="/users/login"><button type="submit" class="login-btn">Login</button></a>
      </div>
    </div>
  </div>
</section>
